# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Vite cache
.vite/

# Coverage
coverage/
